Package: com.jake0oo0.papergram
Name: PaperGram
Depends: mobilesubstrate
Version: 1.1.0~beta
Architecture: iphoneos-arm
Description: Set your iOS wallpaper with pictures from Instagram feeds
Maintainer: Jake0oo0 <jake0oo0dev@gmail.com>
Author: Jake0oo0 & AOkhtenberg <jake0oo0dev@gmail.com>
Section: Tweaks
Icon: /Library/PreferenceBundles/PaperGramPrefs.bundle/PaperGram@3x.png
